.eunit
deps
*.o
*.beam
*.plt
erl_crash.dump
ebin/*.beam
rel/example_project
.concrete/DEV_MODE
.rebar
.erlang.mk/
data/
ekka.d
Mnesia*
logs/
.DS_Store
cover/
ct.coverdata
ebin/test
eunit.coverdata
test/ct.cover.spec
log/
