%% -*- mode:erlang -*-
{minimum_otp_vsn, "21.0"}.

{deps,
 [{snabbkaffe, {git, "https://github.com/kafka4beam/snabbkaffe", {tag, "1.0.7"}}},
  {gen_rpc, {git, "https://github.com/emqx/gen_rpc", {tag, "3.0.1"}}},
  {replayq, {git, "https://github.com/emqx/replayq", {tag, "0.3.6"}}},
  {mnesia_rocksdb, {git, "https://github.com/emqx/mnesia_rocksdb", {tag, "0.1.11"}}},
  {optvar, {git, "https://github.com/emqx/optvar", {tag, "1.0.4"}}}
 ]}.

{erl_opts,
 [warn_unused_vars,
  warn_shadow_vars,
  warn_unused_import,
  warn_obsolete_guard,
  warnings_as_errors,
  debug_info,
  compressed,
  {d, 'MRIA_HAS_ROCKSDB', true}
 ]}.

{validate_app_modules, true}.

%% Check layer violations (TODO: make it stricter and remove all exemptions):
{xref_queries,
 [ {"closure(E) | mria_status : Mod || [mria, mria_lb, mria_schema, mria_membership, mria_node_monitor, mria_rlog] : Mod",
    [{{mria_status,get_shard_stats,1}, {mria_lb,core_node_weight,1}},
     {{mria_status,shards_down,0}, {mria_schema,shards,0}},
     {{mria_status,shards_status,0}, {mria_schema,shards,0}},
     {{mria_status,shards_syncing,0}, {mria_schema,shards,0}},
     {{mria_status,shards_up,0}, {mria_schema,shards,0}}]}
 , {"closure(E) | mria_schema : Mod || [mria, mria_lb, mria_node_monitor, mria_membership, mria_rlog] : Mod",
    []}
 , {"closure(E) | mria_mnesia : Mod || [mria, mria_lb, mria_schema, mria_node_monitor, mria_membership, mria_rlog] : Mod",
    [{{mria_mnesia,join_cluster,1}, {mria_rlog,role,1}}]}
 , {"closure(E) | mria_membership : Mod || [mria, mria_lb, mria_schema, mria_node_monitor, mria_rlog] : Mod",
    [{{mria_membership,handle_cast,2}, {mria_rlog,role,1}}]}
 ]}.

{xref_checks,
 [undefined_function_calls, undefined_functions,
  locals_not_used, deprecated_function_calls,
  warnings_as_errors, deprecated_functions
 ]}.

{eunit_opts,
 [verbose,
  {report,{eunit_surefire,[{dir,"."}]}}
 ]}.

%% {cover_enabled, false}. % Note: it's important to enable it per test-suite only. Otherwise it will mess up the compatibility suite
{cover_opts, [verbose]}.
{cover_export_enabled, true}.

{dialyzer,
 [{warnings, [unknown]},
  {plt_extra_apps, [replayq, mnesia, mnesia_rocksdb, optvar]}
 ]}.

{profiles,
 [{test,
   [{plugins, [{coveralls, {git, "https://github.com/emqx/coveralls-erl", {branch, "github"}}}]},
    {deps, [{meck, "0.8.13"},
            {proper, "1.3.0"}
           ]},
    {erl_opts, [debug_info]}
   ]}
 %% , {concuerror,
 %%    [{overrides,
 %%      [ {add, snabbkaffe,
 %%         [{erl_opts, [{d, 'CONCUERROR'}]}]}
 %%      , {add, mria,
 %%         [{erl_opts, [{d, 'CONCUERROR'}]}]}
 %%      ]}
 %%    ]}
 ]}.

{ct_readable, true}.
