{minimum_otp_vsn, "21.0"}.

{erl_opts, [debug_info,
            warn_export_all,
            warn_unused_import
           ]}.

{deps, [{jsx, "2.9.0"}]}.

{cover_enabled, true}.

{xref_checks, [undefined_function_calls]}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.

{dialyzer_base_plt_apps, [kernel, stdlib, erts, sasl, ssl, syntax_tools, compiler, crypto]}.

{profiles,
    [{test,
        [{deps,
            [{meck, "0.8.13"}, % hex
             {cuttlefish, {git, "https://github.com/emqx/cuttlefish", {tag, "v3.0.0"}}}
            ]},
         {erl_opts, [debug_info]}
        ]}
    ]}.
