name: Run test case

on: [push, pull_request]

jobs:
    run_test_case:
      runs-on: ubuntu-latest
      strategy:
        fail-fast: false
        matrix:
          os:
            - ubuntu24.04
          arch:
            - amd64
          otp:
            - "28.2-2"
          builder:
            - '6.0-9'
          elixir:
            - '1.19.1'

      container: "ghcr.io/emqx/emqx-builder/${{ matrix.builder }}:${{ matrix.elixir }}-${{ matrix.otp }}-${{ matrix.os }}"

      steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          # Needed for backward-compatibility test:
          fetch-depth: 0

      - name: Install prerequisites
        run: |
          apt update
          apt install -y cmake

      - name: Configure git
        run: |
          git config --global --add safe.directory "*"

      - name: Compile
        run: |
          make

      - name: Concuerror tests
        run : |
          make concuerror_test

      - name: Smoke test
        run: |
          make smoke-test

      - name: Fault-tolerance tests
        run: |
          make ct-fault-tolerance

      - name: Consistency tests
        run: |
          make ct-consistency

      - name: Coveralls
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
            make coveralls

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        if: always()
        with:
          name: logs
          path: _build/test/logs

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: cover
          path: _build/test/cover
